.match-controller-container {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.winner-display-container {
  color: white;
  background-color: green;
  font-size: 20px;
  font-weight: 800;
  padding: 10px;
  margin-right: 20px;
}

.match-controller-btn {
  width: 100px;
  height: 30px;
  background-color: #5d8de4;
  color: white;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  font-weight: 800;
  cursor: pointer;
  text-transform: uppercase;
}

.scores-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.innings-score-container {
  width: 45%;
  height: 100px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
}

.innings-score {
  padding: 20px;
  color: white;
}

.score-by-overs-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.scores-table-container {
  width: 45%;
  height: 500px;
  overflow-y: auto;
  background-color: white;
}

.scores-table1 {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.scores-table1 td,
.scores-table1 th {
  border: 1px solid #ddd;
  padding: 8px;
}

.scores-table1 tr:nth-child(even) {
  background-color: #f2f2f2;
}

.scores-table1 tr:hover {
  background-color: #ddd;
}

.scores-table1 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5148a5;
  color: white;
}

.scores-table2 {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.scores-table2 td,
.scores-table2 th {
  border: 1px solid #ddd;
  padding: 8px;
}

.scores-table2 tr:nth-child(even) {
  background-color: #f2f2f2;
}

.scores-table2 tr:hover {
  background-color: #ddd;
}

.scores-table2 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #93b36f;
  color: white;
}
