.flex-container {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100%;
  background-color: lightgray;
}

.game-container {
  background-color: white;
  border-radius: 15px;
  width: 90%;
  margin: 20px;
}

.controls-container {
  display: flex;
  padding: 10px;
}

.number-of-overs-input {
  width: 100px;
  padding: 2px;
  margin-left: 10px;
}
